
        
/*Change Lightmode Functionality*/
.darkmode{
    background-color: black;
    color:white;
}
.lightmode{
    background-color: gray;
    color:black;
}

/*Sticky Header Map*/
 /* Style the Map*/

 .map {
     z-index:100;
    width: 100%;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    padding-right: 14px;
  }
  


/*Quill Column Formatting*/

*{
    box-sizing: border-box;    
}
[class$="column"] {
    float: left;
    border: 1px solid red;
    align-items:center;
}
.ql-editor{
    height:calc(100% - 2 * 5px);
}
.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.text-column{
    width: 80%;
    display: table-cell;
    position:relative;
    padding:5px;
}
.button-column{
    width:20%;
    display: flex;
    align-items:center;

}
.row-info{
    border: 1px solid red;
    width: 100%;
}

@media only screen and (min-width:968px){
    .text-column{
        width: 90%;
    }
    .button-column{
        width:10%;
    }
}
.newSection-button-row{
    display: flex;
    align-items:center;
    width:100%;
}
.ctr{
    margin:auto;
}