*{
    box-sizing: border-box;    
}
:root{
    --mono-font:'Major Mono Display', monospace;
}
        
/*Change Lightmode Functionality*/
.darkmode{
    background-color: black;
    /* color:white; */
}
.lightmode{
    background-color: rgb(169, 172, 169);
    color:black;
}
#header{
    text-align: center;
    color:white;
    font-family: var(--mono-font);
}

/*Sticky Header Map*/
 /* Style the Map*/

 .map {
     z-index:100;
    width: 100%;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    padding-right: 14px;
  }
  


/*Quill Column Formatting*/


.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #474747;
    border-radius: 5px;
    padding:5px;
    margin-bottom:5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
[class$="column"] {
    float: left;
    border: 1px solid #474747 ;
    /* border-radius: 15px; */
    align-items:center;
   
    background-color:rgb(228, 228, 228);
    overflow-wrap: normal;

}
.quillcontainer{
    float:left;
    width:100%;
}
.ql-editor{
    height:calc(100% - 2 * 5px);
}


.text-column{
    width: 80%;
    /* display:flex; */
    position:relative;
    padding:5px;
}
.text-column::after {
    content: "";
    clear: both;
    display: table;
  }
.button-column{
    width:20%;
    display: flex;
    align-items:center;

}
.row-info{
    float:left;
    border: 1px solid #474747;
    width: 100%;
}

@media only screen and (min-width:968px){
    .text-column{
        width: 90%;
    }
    .button-column{
        width:10%;
    }
}
.newSection-button-row{
    display: flex;
    align-items:center;
    width:100%;
}
.ctr{
    margin:auto;
}
.ql-snow{

}